/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	body {
		background-image: url(../images/bg-blue-550.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 100%;
	}
	header {
		background-color: #000;
		padding: 10px 0;
	}
	.navbar-brand img {
		width: 10%;
	}
	.navbar-brand {
		font-size: 22px;
		padding-top: 0;
	}
	.main_header_text h1 {
		margin-top: 70px;
		font-size: 16px;
	}
	.second_text h4 {
		font-size: 12px;
		margin-bottom: 50px;
	}
	.third_text p {
		font-size: 12px;
		margin-bottom: 70px;
	}
	.footer_text {
		border-right: none;
		padding-right: 0;
		border-left: 3px solid #30314A;
		padding-left: 10px;
		margin-bottom: 60px;
		font-size: 12px;
	}
	.footer_text p {
		font-size: 12px;
	}
	.footer_text h6 {
		font-size: 12px;
	}
	.footer_icons {
		padding-bottom: 30px;
	}
	.footer_icons ul li a {
		font-size: 18px;
		padding: 6px 8px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	body {
		background-image: url(../images/bg-blue-550.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 100%;
	}
	header {
		background-color: #000;
		padding: 15px 0;
	}
	.navbar-brand img {
		width: 9%;
	}
	.navbar-brand {
		font-size: 24px;
		padding-top: 0;
	}
	.main_header_text h1 {
		margin-top: 100px;
		font-size: 20px;
	}
	.second_text h4 {
		font-size: 14px;
		margin-bottom: 100px;
	}
	.third_text p {
		font-size: 14px;
		margin-bottom: 80px;
	}
	.footer_text {
		border-right: none;
		padding-right: 0;
		border-left: 3px solid #30314A;
		padding-left: 10px;
		margin-bottom: 100px;
		font-size: 14px;
	}
	.footer_text p {
		font-size: 14px;
	}
	.footer_text h6 {
		font-size: 14px;
	}
	.footer_icons {
		padding-bottom: 40px;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	body {
		background-image: url(../images/bg-blue-750.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 100%;
	}
	.navbar-brand img {
		width: 9%;
	}
	.navbar-brand {
		font-size: 22px;
	}
	.main_header_text h1 {
		margin-top: 100px;
		font-size: 22px;
	}
	.second_text h4 {
		font-size: 16px;
		margin-bottom: 50px;
	}
	.third_text p {
		font-size: 16px;
		margin-bottom: 100px;
	}
	.footer_text {
		border-right: none;
		padding-right: 0;
		border-left: 3px solid #30314A;
		padding-left: 10px;
		font-size: 16px;
	}
	.footer_icons {
		padding-bottom: 40px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	body {
		background-image: url(../images/bg-blue-1050.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		min-height: 100%;
	}
	.main_header_text h1 {
		margin-top: 90px;
		font-size: 24px;
	}
	.second_text h4 {
		font-size: 18px;
	}
	.third_text p {
		font-size: 18px;
		margin-bottom: 90px;
	}
	.footer_text p {
		font-size: 16px;
	}
	.footer_text h6 {
		font-size: 16px;
	}
	.footer_icons {
		padding-bottom: 20px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1499.98px) {
	body {
		background-image: url(../images/bg-blue-1250.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 100%;
	}
}
/* Extra large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {

}